@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}
.nav {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav__unordered-list {
  padding: 1em 3em;
  list-style-type: none;
  background: rgba(2, 9, 26, 0.8);
  display: flex;
  gap: 1em;
  top: 0;
}
.nav__list-item {
  list-style-type: none;
}
.nav__list-item:first-child {
  margin-right: auto;
}
.nav__link {
  transition: 0.3s;
  text-align: center;
  width: 100px;
  /* background: rgb(246, 246, 246); */
  padding: 0.5em 0.4em;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  border: solid 1px #69bdf3;
  font-size: 0.9em;
  border-radius: 5px;
}
.nav__link::after {
  transition: 0.3s;
  /* position: absolute; */
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  bottom: 0;
  left: -100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav__icon {
  padding-right: 5px;
}
.nav__link:hover {
  box-sizing: border-box;
  background: rgb(233, 233, 233);
  color: #02091a;
  border: solid 1px #ffffff;
}
.nav__link:hover::after {
  left: 0;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section:nth-child(odd) {
  background: rgb(212, 212, 212);
}
.section:nth-child(even) {
  background: rgb(231, 231, 231);
}

/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
li {
  text-align: justify;
}
.footer {
  background-color: #02091a;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
